* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.2rem;
  font-weight: 700;
}

div:nth-child(1) {
  background-color: lightslategray;
  color: white;
  width: 100%;
  height: 100%;
}
h1 {
  text-align: center;
  margin: 30px auto;
  padding-top: 180px;
  font-size: 3rem;
}
p {
  text-align: center;
  padding: 100px 0;
  font-size: 2rem;
  letter-spacing: 2px;
}
p span {
  font-size: 2rem;
}
.btns {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 515px);
}
.btn {
  width: 250px;
  height: 75px;
  border-radius: 15px;
  margin: 0 15px;
}
.btn:nth-child(1) {
  background-color: rgb(24, 180, 24);
}
.btn:nth-child(2) {
  background-color: rgb(182, 31, 31);
}
.btn:nth-child(3) {
  background-color: orange;
}
